extends layout

block content
  .drink-content
    h2.drink-name  #{drink.name}
    .drink-image 
      img(src=`${drink.photo || '/img/weirdos.jpg'}`)
    .drink-spirit
      p Spirit: #{drink.spirit}
    .drink-glass
      p Glassware: #{drink.glass}
    .drink-description 
      h3 Description: 
      p #{drink.description}
    .drink-instructions 
      h3 Instructions: 
      p #{drink.instructions}
    .drink-ingredients
      h3 Ingredients: 
      each i in drink.ingredients
        p - #{i.iAmount} #{i.iMeasure} #{i.iName}
  